* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* 1em = 16px, 1040px = 65em  */
@media (max-width: 65em) {
  
  header .desktop-header {
    width: 100%;
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
  }

  .content h2 {
    font-size: 2.875rem;
    font-weight: 100;
    padding: 1.875rem 0;
    text-align: center;
    color: #252B42;
  }
  
  .content p {
    font-size: .856rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #374754;
    padding: 0 3.125rem 3.75rem;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .menu.nav-inline {
    display: flex;
    flex-direction: column;
    text-align: end;
    position: relative;
    top: 6.875rem;
    background: white;
    border-radius: .5rem;
    right: .8125rem;

  }
  
  .nav-inline a {
    color: #484747;
    padding: .5rem 1.125rem;
    text-decoration: none;
  }

  .nav-inline a:hover {
    background-color: #a65eee;
    transition: all 0.4s ease;
  }

  .nav-link.nav-home {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
  }

  .nav-link.nav-contact {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  
  .desktop-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  .desktop-hero-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 4.375rem 0;
  }
  
  .desktop-hero-light h2 {
    color: white;
    padding: 4.25rem 0 1.875rem;
  }
  
  .desktop-hero-light p {
    color: white;
    font-size: 1rem;
    padding: 0 2.25rem;
  }
  
  .desktop-hero-light .image {
    display: flex;
    justify-content: center;
  }
  
  .desktop-hero-light img {
    width: 100%;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
  }

  .dropdownbtn {
    background: none;
    border: none;
    position: absolute;
    padding: 4.785rem 0 0;
    right: 1.875rem;
  }

  .dropdown input {
    display: none;
  }

  .dropdown .nav-inline {
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .dropdown label {
    cursor: pointer;
  }
  
  input[type=checkbox]:checked ~ .nav-inline {
    opacity: 1;
    pointer-events: all;
  }
 
  .hero-light-content {
    width: 100%;
  }
  .hero-light-content .sign-up {
    margin-right:auto;
    margin-left:auto;
  }
  
  .sign-up {
    width: 50%;
    min-height: 4rem;
    font-size: 1.3rem;
    background-color: #38A3F1;
    color: white;
    border: 0;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .feature-explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0 0;
  }
  
  .feature-explain h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .feature-explain p {
    padding: 0 4.18rem 3.75rem;
  }
  
  .features-tips-list {
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
  }
  
  .feature-tip-top {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 1.3rem;
    color: #252B42;
  }
  
  .feature-tip-top h3 {
    padding-left: .625rem;
  }
  
  .feature-tip p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.68rem;
    padding: 0 0 3.43rem;
    text-align: start;
    width: 92%;
  }
  
  .hero-light-3 {
    width: 100%;
    padding: 3.75rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-light-3 img {
    width: 100%;
    padding: 3.75rem 0 2.5rem;
  }
  
  .light-cta-1 {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
    padding: 4.375rem 1.875rem 6.5rem;
  }
  
  .light-cta-1 .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.375rem;
  }
  
  .light-cta-1 h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .light-cta-1 h2 {
    color: white;
    font-size: 2.8rem;
    font-weight: 100;
    padding-top: 1.56rem;
  }
  
  .light-cta-1 .action-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-content legend {
    font-size: 1.3rem;
    font-weight: bold;
    margin:0 auto;
  }
  
  .light-cta-1 .action-content p {
    color: white;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.6rem;
    padding: .75rem 1.25rem 1.875rem;
  }
  
  .action-content input {
    width: 100%;
    background: white;
    border: white;
    color: #252B42;
    min-height: 3.375rem;
    padding: 1.18rem 2.4rem;
    border-radius: 2.4rem;
  }
  
  .action-content .sub-btn {
    text-align: center;
    color: white;
    background-color: #EF2779;
    padding: 1.18rem 2.4rem;
    border-radius: 2.4rem;
    margin-top: 1rem;
    border: 0;
  }
  
  .partner {
    width: 100%;
    padding: 3.75rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .partner-list {
    display: flex;
    flex-direction: column;
  }
  
  .partner-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .partner-details h6 {
    color: #374754;
    font-size: .75rem;
    padding: 1.25rem;
  }
  
  .partner-details p {
    padding: 1rem;
    width: 59%;
    font-size: 1.125rem;
    line-height: 1.68rem;
    font-weight: 100;
    color: #374754;
    text-align: center;
  }
  
  .partner .sign-up {
    margin: 4.375rem 0 3.15rem;
  }
  
  
  .testimonials {
    width: 100%;
    padding: 3.75rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonials h2 {
    padding-bottom: .31rem;
  }
  
  .testimonials h4 {
    font-size: 0.87rem;
    padding: 3.125rem 0;
  }
  
  .testimonials-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-items p {
    padding-top: 3.125rem;
  }
  
  .testimonials .sign-up {
    margin-top: 3.125rem;
  }
  
  .pricing {
    padding: 1.875rem;
  }

  .pricing p {
    padding: 0 0 3.75rem;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-detail {
    width: 21rem;
    min-height: 19rem;
    padding: 2.5rem;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2.5rem;
  }
  
  .product-detail h6 {
    color: #374754;
    font-size: .75rem;
    font-weight: bold;
  }
  
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price h1 {
    color: #252B42;
    font-weight: 900;
    font-size: 3.75rem;
    padding: .5rem;
  }
  
  .product-price h5 {
    color: #252B42;
    font-weight: 700;
    font-size: 3.75rem;
  }
  
  
  .product-price-detail {
    display: flex;
    flex-direction: column;
  }
  
  .product-price-detail h3 {
    font-size: 1.375rem;
  }
  
  .second-prd {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
  }
  
  .second-prd h6 {
    color: white;
  }
  
  .second-prd h1 {
    color: white;
  }
  
  .order-btn {
    width: 16rem;
    color: white;
    padding: 1.125rem 2.375rem;
    background: #38A3F1;
    border: 0;
    border-radius: 2rem;
  }
  
  .second-order-btn {
    background: white;
    color: #EF2779;
  }
  
  .contact {
    background: #252B42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 1.25rem;
  }
  
  .contact h2,
  .contact p {
    color: white;
  }
  
  .social-img {
    padding: 0 .875rem 3.75rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
  }
  
  .contact-info h5 {
    font-size: .75rem;
  }
  
  .contact-info-detail {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  
  .contact-info-detail img {
    padding-right: 1rem;
  }
  
  .contact-form {
    background-color: white;
    width: 100%;
    padding: 6.25rem 0 3.125;
    box-shadow: 0px .81rem 1.18rem rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin: 2.5rem 0;
  }
  
  .contact-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input {
    padding: 1.18rem 1.25rem;
    margin: 2.8rem 0 0;
    width: 17.5rem;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 2.4rem;
  }
  
  .contact-form textarea {
    width: 17.5rem;
    margin: 2.8rem 0 0;
    padding: 1.25rem;
    min-height: 12rem;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    resize: none;
  }
  
  .contact-btn {
    width: 85%;
  }
  
  .contact-form .send-btn {
    background: #EF2779 !important;
    color: white;
    width: 145px;
    margin-bottom: 2rem;
  }
  
  .footer {
    padding: 6.24rem 2.5rem 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer h3 {
    color: #252B42;
    font-weight: 700;
    font-size: 1.325rem;
    line-height: 4rem;
  }
  
  .footer a {
    text-decoration: none;
    color: #252B42;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.1rem;
  }
  
  .footer .map-img {
    padding: 2.5rem 0 3.125rem;
  }
  
  .social-list {
    width: 17.5rem;
    padding-top: 1.25rem;
  }
  
  .footer h5 { 
    color: #374754;
    text-align: start;
  }

  .pc {
    display: none;
  }
}

/* 1em = 16px, 1040px = 65em  */
@media (min-width: 65em) {

  header .desktop-header {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .pc {
    display: block;
  }

  .content h2 {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0;
    text-align: center;
    color: #252B42;
  }

  .content p {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25rem;
    color: #374754;
    padding-bottom: 3.75rem;
    text-align: center;
  }

  .desktop-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
  }

  .desktop-navbar div {
    width: 100%;
  }

  .desktop-navbar .logo {
    display: flex;
    justify-content: flex-start;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
  }

  .menu a {
    color: white;
    padding: .5rem 1.125rem;
    text-decoration: none;
  }

  .mailing {
    width: 100%;
  }

  .mailing fieldset {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .mailing .email {
    width: 61%;
    border-radius: 2.4rem;
    padding: 1.18rem 2.4rem;
    background-color: #EFEFEF;
    border: none;
    font-size: 14px;
  }

  .mailing .subscribe-btn {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 2.4rem;
    background-color: #EFEFEF;
    border: none;
    color: #EF2779;
  }

  .desktop-hero-light {
    color: white;
    display: flex;
  }

  .desktop-hero-light .image {
    display: flex;
    position: relative;
    left: -14.125rem;
    width: calc(100% - 22.875rem);
  }

  .desktop-hero-light img {
    width: 100%;
  }

  .desktop-hero-light p {
    color: white;
    text-align: start;
  }

  .desktop-hero-light .sign-up {
    width: 65%;
    background-color: white;
    color: #38A3F1;
    font-weight: bold;
  }

  .hero-light-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    left: -8rem;
    position: relative;
  }
  
  .desktop-hero-light h2 {
    color: white;
    text-align: start;
    padding-bottom: 3rem;
  }

  .sign-up {
    width: 14%;
    height: 4rem;
    font-size: 1.3rem;
    background-color: #38A3F1;
    color: white;
    border: none;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.75rem 0;
  }

  .desktop-feature {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
  }

  .feature-explain h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  .features-tips-list {
    display: flex;
    justify-content: center;
  }

  .feature-tip {
    width: 20%;
  }

  .feature-tip p {
    text-align: start;
    font-weight: 400;
    padding: 0 1.75rem 0 0;
  }

  .feature-tip-top h3 {
    padding-left: 1.25rem;
    font-size: 1.375rem;
  }

  .feature-tip-top {
    display: flex;
    align-items: center;
    line-height: 2rem;
    padding-bottom: 1.25rem;
    color: #252B42;
  }


  .hero-light-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
  }

  .light-cta-1 {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
    padding: 4.375rem 1.875rem 6.25rem;
  }
  
  .light-cta-1 .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.375rem;
  }
  
  .light-cta-1 h3 {
    font-size: 1.31rem;
    font-weight: 400;
  }
  
  .light-cta-1 h2 {
    padding-top: 1.56rem;
    color: white;
  }
  
  .light-cta-1 p {
    color: white;
  }
  
  .light-cta-1 .action-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-content legend {
    font-size: 1.31rem;
    font-weight: bold;
    margin: 0 auto;
  }

  .action-content p {
    text-align: center;
  }
  
  .light-cta-1 .action-content p {
    font-size: 18px;
    font-weight: 100;
    line-height: 27px;
    padding: .75rem 0 1.875rem;
  }
  
  .action-content input {
    width: 100%;
    background: white;
    border: white;
    color: #252B42;
    padding: 1.18rem 2.4rem;
    border-radius: 2.4rem;
  }
  
  .action-content .sub-btn {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #EF2779;
    margin-top: 15px;
    border: none;
  }

  .partner {
    width: 100%;
    padding: 3.75rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .partner-list {
    display: flex;
    width: 82%;
    flex-wrap: wrap;
  }
  
  
  .partner-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 33.333333%;
    padding-bottom: 1.125rem;
  }
  
  .partner-details h6 {
    color: #374754;
    font-size: .75rem;
    padding: 1.25rem;
  }
  
  .partner-details p {
    padding: 1rem .75rem;
    width: 59%;
    font-size: 1.25rem;
    line-height: 1.68rem;
    font-weight: 100;
    color: #374754;
    text-align: center;
  }
  
  .partner .sign-up {
    margin: 4.375rem 0 3.125rem;
  }

  .testimonials {
    width: 100%;
    padding: 3.75rem .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonials h2 {
    padding-bottom: 5rem;
  }
  
  .testimonials-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-items p {
    padding-top: 3.125rem;
  }
  
  .testimonials .sign-up {
    margin-top: 3.125rem;
  }
  
  .pricing {
    padding: 1.875rem;
  }

  .pricing p {
    padding: 0 0 3.75rem;
  }

  .pricing ul li:nth-child(2) {
    order: 3;
  }
  
  .pricing ul li:nth-child(3) {
    order: 2;
  }
  
  .product {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-detail {
    width: 21rem;
    min-height: 19rem;
    padding: 2.5rem;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    margin: 0 1.25rem;
  }
  
  .product-detail h6 {
    color: #374754;
    font-size: .75rem;
    font-weight: bold;
  }
  
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price h1 {
    color: #252B42;
    font-weight: 900;
    font-size: 3.75rem;
    padding: .5rem;
  }
  
  .product-price-detail {
    display: flex;
    flex-direction: column;
  }
  
  .product-price-detail h3 {
    font-size: 1.375rem;
  }
  
  .second-prd {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: white;
  }
  
  .second-prd h6 {
    color: white;
  }
  
  .second-prd h1 {
    color: white;
  }
  
  .order-btn {
    width: 16rem;
    color: white;
    padding: 1.125rem 2.375rem;
    background: #38A3F1;
    border: 0;
    border-radius: 2rem;
  }
  
  .second-order-btn {
    background: white;
    color: #EF2779;
  }

  .contact {
    background: #252B42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 1.25rem;
    margin-top: 5rem;
  }
  
  .contact h2,
  .contact p {
    color: white;
  }
  
  .social-img {
    padding:  3.75rem 2.8rem 3.75rem 0;
  }

  .contact-detail {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    padding: 0 2.4rem;
    align-items: start;
    justify-content: center;
  }
  
  .contact-info h5 {
    font-size: .75rem;
  }
  
  .contact-info-detail {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .contact-info-detail img {
    padding-right: 1rem;
  }
  
  .contact-form {
    background-color: white;
    width: 25rem;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 1rem;
    margin: 2.5rem 1.5rem;
  }
  
  .contact-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input {
    padding: 1.18rem 1.25rem;
    margin: 2.8rem 0 0;
    width: 19rem;
    height: 3.375rem;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 2.4rem;
  }
  
  .contact-form textarea {
    width: 19.875rem;
    margin: 2.8rem 0 0;
    padding: 1.25rem;
    min-height: 126.17px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    resize: none;
  }
  
  .contact-btn {
    width: 19.875rem;
    margin-bottom: 1.25rem;
  }
  
  .contact-form .send-btn {
    background: #EF2779 !important;
    color: white;
    width: 7.8rem;
  }


  .footer {
    padding: 6.25rem 6.25rem 3.125rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .footer-header {
    text-align: start;
  }
  
  .footer h3 {
    color: #252B42;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 4rem;
  }
  
  .footer a {
    text-decoration: none;
    color: #252B42;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.1rem;
  }
  
  .footer .map-img {
    padding: 2.5rem 0 3.125rem 1.56rem;
  }
  
  .social-list {
    width: 17.5rem;
    padding-top: 1.25rem;
  }
  
  .footer h5 { 
    color: #374754;
    text-align: start;
  }

  .footer .contact-info {
    width: 28%;
  }

  .sp {
    display: none;
  }
}
